## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-20

# [QA Report](https://github.com/code-423n4/2023-01-ondo-findings/issues/275) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-01-ondo-findings/blob/main/data/CodingNameKiki-Q.md).