## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- Q-04

# [QA Report](https://github.com/code-423n4/2022-12-tessera-findings/issues/29) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-12-tessera-findings/blob/main/data/IllIllI-Q.md).