## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- edited-by-warden
- Q-47

# [QA Report](https://github.com/code-423n4/2023-03-canto-identity-findings/issues/23) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-canto-identity-findings/blob/main/data/Sathish9098-Q.md).