## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- Q-03

# [QA Report](https://github.com/code-423n4/2022-12-pooltogether-findings/issues/140) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-12-pooltogether-findings/blob/main/data/0xSmartContract-Q.md).