## Tags

- bug
- QA (Quality Assurance)
- sponsor confirmed
- selected for report
- edited-by-warden
- responded
- grade-a

# [QA Report](https://github.com/code-423n4/2022-10-holograph-findings/issues/68) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-10-holograph-findings/blob/main/data/Rolezn-Q.md).