## Tags

- bug
- QA (Quality Assurance)
- resolved
- sponsor confirmed

# [QA Report](https://github.com/code-423n4/2022-03-timeswap-findings/issues/38) 

2022-03-timeswap

1 delete unused import statement.

https://github.com/code-423n4/2022-03-timeswap/blob/main/Timeswap/Convenience/contracts/CollateralizedDebt.sol#L5

