## Tags

- bug
- QA (Quality Assurance)
- selected for report

# [QA Report](https://github.com/code-423n4/2022-09-y2k-finance-findings/issues/415) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-09-y2k-finance-findings/blob/main/data/Respx-Q.md).