## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- edited-by-warden
- Q-44

# [QA Report](https://github.com/code-423n4/2023-04-ens-findings/issues/26) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-04-ens-findings/blob/main/data/Sathish9098-Q.md).