## Tags

- bug
- high quality report
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- Q-14

# [QA Report](https://github.com/code-423n4/2023-07-moonwell-findings/issues/328) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-07-moonwell-findings/blob/main/data/immeas-Q.md).