## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-53

# [QA Report](https://github.com/code-423n4/2022-11-paraspace-findings/issues/404) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-11-paraspace-findings/blob/main/data/IllIllI-Q.md).