## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- edited-by-warden
- Q-18

# [QA Report](https://github.com/code-423n4/2022-11-redactedcartel-findings/issues/156) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-11-redactedcartel-findings/blob/main/data/0xSmartContract-Q.md).