## Tags

- bug
- grade-a
- high quality report
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- Q-06

# [QA Report](https://github.com/code-423n4/2023-06-canto-findings/issues/46) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-06-canto-findings/blob/main/data/squeaky_cactus-Q.md).