## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor acknowledged
- Q-17

# [QA Report](https://github.com/code-423n4/2023-08-goodentry-findings/issues/240) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-08-goodentry-findings/blob/main/data/Team_FliBit-Q.md).