## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor acknowledged
- Q-03

# [QA Report](https://github.com/code-423n4/2023-06-lybra-findings/issues/953) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-06-lybra-findings/blob/main/data/0xnev-Q.md).