## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- edited-by-warden
- Q-05

# [QA Report](https://github.com/code-423n4/2022-12-gogopool-findings/issues/728) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-12-gogopool-findings/blob/main/data/IllIllI-Q.md).