## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-12

# [QA Report](https://github.com/code-423n4/2022-12-prepo-findings/issues/127) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-12-prepo-findings/blob/main/data/0xSmartContract-Q.md).