## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- edited-by-warden
- Q-17

# [QA Report](https://github.com/code-423n4/2023-01-canto-identity-findings/issues/75) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-01-canto-identity-findings/blob/main/data/HardlyDifficult-Q.md).