## Tags

- bug
- grade-a
- high quality report
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- edited-by-warden
- Q-42

# [QA Report](https://github.com/code-423n4/2023-05-juicebox-findings/issues/86) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-05-juicebox-findings/blob/main/data/ABA-Q.md).