## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- edited-by-warden
- Q-02

# [QA Report](https://github.com/code-423n4/2023-05-xeth-findings/issues/20) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-05-xeth-findings/blob/main/data/adriro-Q.md).