## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- Q-10

# [QA Report](https://github.com/code-423n4/2023-05-venus-findings/issues/514) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-05-venus-findings/blob/main/data/brgltd-Q.md).