## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-10

# [QA Report](https://github.com/code-423n4/2023-04-caviar-findings/issues/624) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-04-caviar-findings/blob/main/data/AkshaySrivastav-Q.md).