## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- edited-by-warden
- Q-66

# [QA Report](https://github.com/code-423n4/2023-04-frankencoin-findings/issues/597) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-04-frankencoin-findings/blob/main/data/juancito-Q.md).