## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- Q-37

# [QA Report](https://github.com/code-423n4/2023-02-ethos-findings/issues/672) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-02-ethos-findings/blob/main/data/GalloDaSballo-Q.md).