## Tags

- bug
- grade-a
- high quality report
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- edited-by-warden
- Q-04

# [QA Report](https://github.com/code-423n4/2023-08-pooltogether-findings/issues/49) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-08-pooltogether-findings/blob/main/data/0xmystery-Q.md).