## Tags

- bug
- grade-a
- high quality report
- QA (Quality Assurance)
- selected for report
- edited-by-warden
- Q-09

# [QA Report](https://github.com/code-423n4/2023-07-nounsdao-findings/issues/124) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-07-nounsdao-findings/blob/main/data/shark-Q.md).