## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-33

# [QA Report](https://github.com/code-423n4/2023-01-popcorn-findings/issues/688) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-01-popcorn-findings/blob/main/data/IllIllI-Q.md).