## Tags

- bug
- QA (Quality Assurance)
- sponsor confirmed

# [QA Report](https://github.com/code-423n4/2022-09-party-findings/issues/322) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-09-party-findings/blob/main/data/indijanc-Q.md).