## Tags

- bug
- QA (Quality Assurance)
- sponsor confirmed

# [QA Report](https://github.com/code-423n4/2022-04-badger-citadel-findings/issues/8) 

Median Oracle code non-existent, yet file exists:

https://github.com/code-423n4/2022-04-badger-citadel/blob/main/src/oracles/MedianOracle.sol