## Tags

- bug
- grade-a
- judge review requested
- QA (Quality Assurance)
- selected for report
- edited-by-warden
- Q-09

# [QA Report](https://github.com/code-423n4/2022-11-looksrare-findings/issues/51) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-11-looksrare-findings/blob/main/data/RaymondFam-Q.md).