## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-15

# [QA Report](https://github.com/code-423n4/2022-12-backed-findings/issues/147) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-12-backed-findings/blob/main/data/yixxas-Q.md).