## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-21

# [QA Report](https://github.com/code-423n4/2022-11-non-fungible-findings/issues/261) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-11-non-fungible-findings/blob/main/data/0xSmartContract-Q.md).