## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-07

# [QA Report](https://github.com/code-423n4/2023-01-opensea-findings/issues/78) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-01-opensea-findings/blob/main/data/horsefacts-Q.md).