## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- edited-by-warden
- Q-02

# [QA Report](https://github.com/code-423n4/2023-02-kuma-findings/issues/19) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-02-kuma-findings/blob/main/data/0xsomeone-Q.md).