## Tags

- bug
- grade-a
- high quality report
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- Q-07

# [QA Report](https://github.com/code-423n4/2023-07-basin-findings/issues/261) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-07-basin-findings/blob/main/data/0xprinc-Q.md).