## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- Q-10

# [QA Report](https://github.com/code-423n4/2023-05-maia-findings/issues/586) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-05-maia-findings/blob/main/data/0xSmartContract-Q.md).