## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-13

# [QA Report](https://github.com/code-423n4/2022-12-forgeries-findings/issues/148) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-12-forgeries-findings/blob/main/data/poirots-Q.md).