## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- edited-by-warden
- Q-04

# [QA Report](https://github.com/code-423n4/2023-04-party-findings/issues/14) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-04-party-findings/blob/main/data/HollaDieWaldfee-Q.md).