## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- Q-03

# [QA Report](https://github.com/code-423n4/2023-01-numoen-findings/issues/259) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-01-numoen-findings/blob/main/data/CodingNameKiki-Q.md).