## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- edited-by-warden
- Q-40

# [QA Report](https://github.com/code-423n4/2023-01-biconomy-findings/issues/157) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-01-biconomy-findings/blob/main/data/0xSmartContract-Q.md).