## Tags

- bug
- grade-a
- judge review requested
- QA (Quality Assurance)
- selected for report
- Q-56

# [QA Report](https://github.com/code-423n4/2022-11-stakehouse-findings/issues/403) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-11-stakehouse-findings/blob/main/data/0xSmartContract-Q.md).