## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- Q-04

# [QA Report](https://github.com/code-423n4/2023-03-wenwin-findings/issues/443) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-wenwin-findings/blob/main/data/adriro-Q.md).