## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-02

# [QA Report](https://github.com/code-423n4/2023-05-ambire-findings/issues/34) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-05-ambire-findings/blob/main/data/d3e4-Q.md).