## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- edited-by-warden
- Q-04

# [QA Report](https://github.com/code-423n4/2023-03-mute-findings/issues/17) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-mute-findings/blob/main/data/HollaDieWaldfee-Q.md).