## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- Q-25

# [QA Report](https://github.com/code-423n4/2023-03-asymmetry-findings/issues/967) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-asymmetry-findings/blob/main/data/brgltd-Q.md).