## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sufficient quality report
- Q-04

# [QA Report](https://github.com/code-423n4/2023-08-shell-findings/issues/247) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-08-shell-findings/blob/main/data/Udsen-Q.md).