## Tags

- bug
- QA (Quality Assurance)
- grade-a
- selected for report
- Q-67

# [QA Report](https://github.com/code-423n4/2022-11-debtdao-findings/issues/454) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-11-debtdao-findings/blob/main/data/IllIllI-Q.md).