## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- edited-by-warden
- Q-01

# [QA Report](https://github.com/code-423n4/2023-03-zksync-findings/issues/198) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-zksync-findings/blob/main/data/unforgiven-Q.md).