## Tags

- bug
- grade-a
- high quality report
- QA (Quality Assurance)
- selected for report
- sponsor acknowledged
- Q-02

# [QA Report](https://github.com/code-423n4/2023-08-arbitrum-findings/issues/264) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-08-arbitrum-findings/blob/main/data/MiloTruck-Q.md).