## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-19

# [QA Report](https://github.com/code-423n4/2023-06-stader-findings/issues/271) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-06-stader-findings/blob/main/data/DadeKuma-Q.md).