## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor acknowledged
- Q-03

# [QA Report](https://github.com/code-423n4/2023-05-particle-findings/issues/28) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-05-particle-findings/blob/main/data/adriro-Q.md).