## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-71

# [QA Report](https://github.com/code-423n4/2023-03-neotokyo-findings/issues/83) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-03-neotokyo-findings/blob/main/data/0xSmartContract-Q.md).