## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-03

# [QA Report](https://github.com/code-423n4/2023-05-base-findings/issues/129) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-05-base-findings/blob/main/data/rbserver-Q.md).