## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-07

# [QA Report](https://github.com/code-423n4/2022-12-Stealth-Project-findings/issues/40) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-12-Stealth-Project-findings/blob/main/data/0xSmartContract-Q.md).