## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- Q-01

# [QA Report](https://github.com/code-423n4/2023-02-malt-findings/issues/42) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-02-malt-findings/blob/main/data/hansfriese-Q.md).