## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-03

# [QA Report](https://github.com/code-423n4/2022-11-size-findings/issues/57) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-11-size-findings/blob/main/data/0x1f8b-Q.md).