## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- edited-by-warden
- Q-01

# [QA Report](https://github.com/code-423n4/2022-11-ens-findings/issues/9) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2022-11-ens-findings/blob/main/data/zzzitron-Q.md).