## Tags

- bug
- grade-a
- QA (Quality Assurance)
- selected for report
- Q-04

# [QA Report](https://github.com/code-423n4/2023-01-drips-findings/issues/282) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-01-drips-findings/blob/main/data/berndartmueller-Q.md).