## Tags

- bug
- grade-a
- high quality report
- QA (Quality Assurance)
- selected for report
- sponsor confirmed
- Q-09

# [QA Report](https://github.com/code-423n4/2023-06-lukso-findings/issues/15) 

See the markdown file with the details of this report [here](https://github.com/code-423n4/2023-06-lukso-findings/blob/main/data/gpersoon-Q.md).